h1{
    text-align:center;
}

body{
    background-color: rgb(172, 168, 171);
    color: rgb(187, 17, 202);
    font-size: 30px;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

h1{
    text-align: center;
}

