h1{
    text-align:center;
}

body{
    background-color: crimson;
    color: black;
    font-size: 30px;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

h1{
    text-align: center;
}

