body{
    background-color:rgb(104, 100, 100);
}

.img-cabeçalho{
    height: 400px;
}

.cabeçalho{
display: flex;
}

.principal{
    background-image: linear-gradient(rgb(104, 100, 100), rgb(96, 223, 96));
}

.imagem-principal{
    width: 435px;
}